.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .mainWrapper{
  }
  

  .row {
    flex-direction: column;
    width: 100%;
  }